<!--Chat Box-->
<div class="chat-container">
    <div class="panel panel-info">
        <div class="panel-heading">Chat Box</div>
        <div class="panel-body chat-box">
            <div ng-repeat="msg in history">
                <div ng-if="msg.type == 'message'">
                    ({{msg.timestamp}}) <strong><span ng-style="{color: getColor(msg.username)}" >{{msg.username}}</span></strong>: {{msg.message}}
                </div>
                <div ng-if="msg.type == 'join'">
                    {{msg.username}} has joined the chat.
                </div>
                <div ng-if="msg.type == 'leave'">
                    {{msg.username}} has left the chat.
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <form ng-submit="sendMessage()">
                <div>
                    <input ng-keyup="typingTimer.start()" ng-keydown="updateInfo('typing', true)" ng-model="message" placeholder="Enter a message" class="form-control chat-input"></input>
                    <button class="btn btn-success chat-send" type="submit">Send <i ng-show="loading" class="fa fa-spinner fa-spin fa-lg" ></i></button>

                </div>
            </form>
        </div>
    </div>
</div><div class="user-container">
    <div class="panel panel-info">
        <div class="panel-heading">Online Users</div>
        <div class="panel-boxy user-box">
            <div ng-repeat="(usr,info) in onlineUsers">
                {{usr}} <i ng-show="info.typing" class="fa fa-keyboard-o"></i>
            </div>
        </div>
    </div>
</div>
