<div class = "box med" style="margin-top: 100px">
<form role="form" style="margin-bottom: 20px">
    <div class="form-group">
        <label for="email">Username:</label>
        <input ng-model="username" ng-focus = "valid = null; registered = null"class="form-control">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input ng-model="password" type="password" class="form-control">
    </div>
    <button class="btn btn-success" type="submit" ng-click="login()" >Login</button>
    <button class="btn btn-default" type="button" ng-click="register()" >Register</button>
</form>

<div class = "alert alert-danger" ng-show="valid == false">
    The login information you entered is invalid.
</div>
<div class = "alert alert-danger" ng-show="registered == false">
    The username {{username}} already exists!    
</div>
<div class = "alert alert-success" ng-show="registered">
    You account has been succesfully registered.
</div>
</div>
