.box {
    display: inline-block;
}

.box.med {
    width:40%;
    margin-left: 30%;
    margin-right: 30%;
}

.box.xl {
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
}

.box.chat {
    width: 100%;
    height: 90%;
}

.box.input {
    width: 100%;
    height: 10%;
}
